header {
    background-color: #0a222a;
    box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.headerlogo {
    width: 300px;
    padding: 15px;
    margin-left: 24px;
}

main {
    background-color: #051920;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 1920px;  
    margin: 0 auto;     
    width: 100%;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background-color: #0a222a;
    justify-content: center;
    display: flex;
    margin-bottom: 0;
    margin-top: 64px;
    width: 100%;
}

.footerlogo {
    padding: 30px;
    gap: 10px;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #051920;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainimgs {
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 180px;
    width: 180px;
    border: 3px solid #145d75;
}

.mainimgs:hover {
    border: 3px solid #cdd8db;
}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 59px;
    margin-left: 59px;
    gap: 12px;
    max-height: 100%;
    overflow-y: hidden;
    margin-top: 100px;
}

dialog {
    background-color: #0d323f;
    color: white;
    border-radius: 20px;
    border: 1px solid #0a222a;
    height: 500px;
    width: 400px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    border: none;
}

.dialogimg {
    width: 380px;
    height: 250px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
}

h2 {
    margin-left: 10px;
}

.arrow {
    color: #db5959;
    background-color: #1d2024;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.pfeilfeld {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

#imageCounter {
    color: white;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
}

.rotate {
    transform: rotate(180deg);
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url("fonts/Raleway-Regular.ttf") format("truetype");
}

@media(max-width: 590px) {
    .headerlogo {
        width: 200px;
        padding: 10px;
        margin-left: 12px;
    }

    h1 {
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
    }

    .footerlogo {
        padding: 20px;
        gap: 10px;
        width: 180px;
    }

    main {
        height: auto;
        margin-bottom: 64px;
    }

    dialog {
        height: 400px;
        width: 250px;
    }

    .dialogimg {
        width: 230px;
        height: 150px;
    }

    #imageCounter {
        font-size: 16px;
    }
}
